
@{
    ViewData["Title"] = "Home";
}

<div class="container">

    <div class="row">
        <!-- Side Navigation Bar -->
        <div class="col-md-3">
            <nav class="nav flex-column">
                <a class="nav-link active" href="#" id="products-link">Products</a>
                <a class="nav-link" href="#" id="cart-link">Cart</a>
            </nav>
        </div>

        <!-- Main Content Area -->
        <div class="col-md-9">
            <div id="main-content">
                <!-- Content from the controller will be loaded here -->
            </div>
        </div>
    </div>
</div>

<div id="main-content">
</div>

